<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Assignment</title>
</head>
<body>
  <br>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form action="/assignments/{{assignment._id}}/edit?_method=PUT" method="post">
        <legend>Edit Assignment</legend>

        <div class="form-group">
          <label for="assignment-name">Name</label>
          <input type="text" name="name" class="form-control" id="assignment-name" value={{{assignment.name}}}>
        </div>

        <div class="form-group">
          <label for="assignment-url">URL</label>
          <input type="url" name="url" class="form-control" id="assignment-url" value={{{assignment.url}}}>
        </div>

        <div class="form-group">
          <label for="assignment-description">Description</label>
          <textarea name="description" class="form-control" id="assignment-description" value={{{assignment.description}}}></textarea>
        </div>

        <div class="form-group">
          <label for="assignment-duedate">Due Date</label>
          <input type="date" name="duedate" class="form-control" id="assignment-duedate" value={{{assignment.duedate}}}>
        </div>

        <div class="form-group">
          <label for="assignment-dropbox">Turn In Link</label>
          <input type="url" name="dropbox" class="form-control" id="assignment-dropbox" value={{{assignment.dropbox}}}>
        </div>

        <div class='text-right'>
          <button type="submit" class="btn btn-primary">Finish</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
