<br>
<center><h1>My Notes</h1>
<a href="/new-note" class="btn btn-primary ml-1">New Note</a><a href="/schedule" class="btn btn-primary ml-1">My Schedule</a><a href="/" class="btn btn-primary ml-1">My Assignments</a><hr>
</center>
<div class="row">
    <div class="col-sm-12 col-sm-offset-8">
        <ul>
          {{#if notes}}
            {{#each notes}}
                <li class="list-group-item">
                    <h1><a href="/notes/{{this._id}}">{{this.title}}</a></h1>
                    <h5>by {{this.author.username}}</h5>
                    <a href="/notes/{{this._id}}/delete" class="btn btn-danger">Delete</a>
                </li>
            {{/each}}
            {{else}}
            <h1>You Have No Notes! Add Some!</h1>
            {{/if}}
        </ul>
    </div>
</div>
