<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{ request.url }}" class="lead">{{ request.title }}</a>
    <p>by {{request.author.username}}</p>
    {{#if duedate}}
    <p>Due Date: {{this.duedate}}</p>
    {{else}}

    {{/if}}
    <p>{{this.description}}</p>
    {{#if url}}
    <a href="{{this.url}}" target="_blank">Link to Assignment</a><br>
    {{else}}

    {{/if}}

    {{#if imgurl}}
    <img src="{{this.imgurl}}" alt="Image" height="50%" width="50%">
    {{else}}

    {{/if}}
  </div>
</div>
