<br>
<center><h1>My Schedule</h1>
<a href="/new-class" class="btn btn-primary ml-1">Add a Class</a><a href="/" class="btn btn-primary ml-1">My Assignments</a><a href="/notes" class="btn btn-primary ml-1">My Notes</a><hr>
</center>

<div class="row">
    <div class="col-sm-12 col-sm-offset-8">
        <ul>
          {{#if schedules}}
            {{#each schedules}}
                <li class="list-group-item">
                    <h1>{{this.name}} <a href="/schedule/{{this._id}}/delete" class="btn btn-danger">Delete</a></h1>
                    <h4>Student: {{this.author.username}}</h4>
                    <h4><a href="{{this.url}}" target="_blank">Class Session</a></h4><br>
                    {{#if syllabus}}
                    <h5>Syllabus:<a href="{{this.syllabus}}"> Here</a></h5>
                    {{else}}

                    {{/if}}
                    {{#if grades}}
                    <h5>Link to Grades: <a href="{{this.grades}}">Here</a></h5>
                    {{else}}

                    {{/if}}
                    {{#if tracker}}
                    <h5>Link to Tracker: <a href="{{this.tracker}}">Here</a></h5><br>
                    {{else}}

                    {{/if}}
                </li>
            {{/each}}
            {{else}}
            <h1>No Classes -- Add Some!</h1>
            {{/if}}
        </ul>
    </div>
</div>
